header {
    background-color: black;
    color: white;
}

header h4 {
    color: white;
    text-decoration: none;
}

header div.row {
    max-width: 700px;
    margin: auto;
}

.content {
    max-width: 700px;
    margin: 15px auto;
}

form {
    max-width: 215px;
    margin: auto;
}

form.task-edit {
    max-width: none;
}

form.task-edit input {
    width: 100%;
}

form .btn {
    width: 100%;
}

.tasks-header {
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.tasks-header a {
    text-decoration: none;
}

.task-list {
    margin-bottom: 20px;
}

.btn-task-create {
    display: table;
    margin: auto;
}

form.sort-form {
    width: 100%;
    max-width: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
